 /* Propiedadesd el Footer */
 .pie{
    display: flex;
    font-size:medium;
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
    justify-content: center;
  }

   /*propiedades del footer contactos */
   .piedos{
    display: flex;
    color: #000;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
    justify-content: center;
   }