/* Propiedades de la seccion carta */
.menu-title{
    font-size: x-large;
    text-align: center;
    color: $verde;
  }

.wrap{
    max-width: 1500px;
    margin: 0 auto;
   
  }

   .column-2.carta{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    padding: 2rem;
   
 }

 /* aplicando mixin a los titulos del menu */

 @mixin productos ($letra) {
  font-size:$letra;
  text-align: center;
  margin-top: 50px;
  color:$limon;
}

.arepa-title{
@include productos(medium)
}

.patacones-title{
  @include productos(small)
}

.tequeños-title{
  @include productos(small)
}

.postres-title{
  @include productos(small)
}

.bebidas-title{
  @include productos(small)
}
 
  
  .plato-carta{
    display: flex;
    align-items: center;
    border: 2px solid $verde;
    border-radius: 8px;
  }
  
  .img-plato-carta{
    display: flex;
    flex-basis: 25%;
    justify-content: center;
  }
  
  .img-plato-carta img{
    max-width: 100px;
    max-height: 75px;
  }
  
  .title-plato-carta{
    border: 1px solid $limon;
    border-bottom: none;
    border-top: none;
    flex-basis: 60%;
    padding: 0 1rem;
  }
  
  .precio-plato-carta{
    display: flex;
    flex-basis: 15%;
    justify-content: center;
    font-weight: bold;
  }

  /* carta*/
@media (max-width:$mediaIndex-680){
    .column-2.carta{
      grid-template-columns: repeat(1,1fr);
    }
  }
