/*Propiedades de las Promociones  */

body {
	font-family: 'Teko', sans-serif;
}

.carousel-item {
	height: 70vh;
  margin-bottom: 20rem;
}
.carousel-caption {
	bottom: 0;
	z-index: 2;
	text-align: left;
}
.carousel-caption h5 {
	font-size: 5rem;
  margin-bottom: 3rem;
	text-transform: uppercase;
	letter-spacing: 2px;
  color:$blackletters;
}
.carousel-caption p {
	font: size 2rem;
	line-height: 1.9;
	color:$blackletters;
}

/*aplicando extend en los botones */

.btn{
	padding: 10px 60px;
	font-size: 30px;
	text-transform: uppercase;
	color:$blackletters;
}

.banner-info .btn1 {
	@extend .btn;
	text-decoration: none;
	background-color: $limon;
}

.banner-info .btn2 {
	@extend .btn;
	text-decoration: none;
	background-color: $verde;
}
.banner-info .btn3 {
	@extend .btn;
	text-decoration: none;
	background-color: aquamarine;
	
}
.banner-info {
	padding-top: 25%;
}
.imgBox img {
	width: 650px;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
	height: 80px;
	width: 80px;
	outline: $blackletters;
	background-size: 100%, 100%;
	border-radius: 50%;
	background-image: none;
	color:$secundario;
	background: $limon;
}
.carousel-control-next-icon:after {
	content: '->';
	font-size: 55px;
	color:$blackletters;
}
.carousel-control-prev-icon:after {
	content: '';
	font-size: 55px;
	color: $secundario;
}
.carousel-indicators [data-bs-target] {
	background-color:$verde;
}

/*Promociones*/
@media only screen and (min-width: $mediaIndex-768) and (max-width: $mediaIndex-991) {
	
	.carousel-caption {
		bottom: 370px;
	}
	.carousel-caption p {
		width: 100%;
	}
	
	.carousel-caption {
		bottom: 0;
		text-align: center;
	}
}
@media only screen and (max-width:$mediaIndex-767) {
	
	.carousel-caption {
		bottom: 0;
		text-align: center;
	}
	.carousel-caption h5 {
		font-size: 17px;
	}
	.carousel-caption p {
		width: 100%;
		line-height: 1.6;
		font-size: 12px;
	}
	.banner-info .btn {
		padding: 0 15px;
		font-size: 20px;
	}
	.imgBox .img-fluid {
		max-width: 80%;
		height: auto;
	}
	.carousel-control-prev-icon, .carousel-control-next-icon {
		height: 50px;
		width: 50px;
	}
	.carousel-control-next-icon:after {
		font-size: 30px;
	}
	.carousel-control-prev-icon:after {
		font-size: 30px;
	}
}